@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --body-copy:17px;
    --body-copy-line-height: calc(var(--body-copy)*1.2);

    --main-heading: 25vw;
    --main-heading-line-height: calc(var(--main-heading));
}

body {
	color: white;
	background-color: rgb(0, 0, 41);
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}


/*HEADING*/
.channel-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 3vw;
	line-height: 15vw;
	margin-top: 50px;
}

.sub-title{
	font-family: 'ambidexter';
	font-size: 16vw;
	text-align: center;
}

p{
	margin-bottom: 10px;
}

/*FILTERS BUTTONS*/
/* .button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
} */

.tab-content .tab-pane {
  display: none;
}

.tab-content .active {
  display: block;
}

.filter-button {
  background-color: #e0e0e0;
  color: #333;
  border-radius: 20px;
  padding: 8px 20px;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-button.active {
  background-color: #333;
  color: #fff;
}

@media (max-width: 767px) {
  .button-container {
    flex-direction: column;
    align-items: stretch;
  }
}

/*CONTENT*/
    ul {
        --columns: 1;
        display: grid;
        grid-template-columns: repeat(var(--columns),1fr);
        justify-content: center;
        align-items: center;
    }

     img {
        display: block;
        width: 100%;
        padding: 10px;
        object-fit: cover;
        aspect-ratio: 1 / 1;
        border: 0.5px solid black;
        margin-top: 30px;
      }

@media screen and (min-width: 500px) {
    ul{
        --columns: 3;
        align-items: start;
    }
}



/* a { color: white; }
em { font-style: italic; }
strong { font-weight: bold; }

body
section,
ul,
figure {
	color: #FFFFFF ;
	display: grid;
	gap: 2em;
}
 */
