@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --body-copy:17px;
  --body-copy-line-height: calc(var(--body-copy)*1.2);

  --main-heading: 25vw;
  --main-heading-line-height: calc(var(--main-heading));
  --accent-type: white;
  --accent-1: #FFC2F2;
  --accent-2: #0A4DA6;
  --accent-bg: #000029;
}

body {
	color: var(--accent-type);
	background-color: var(--accent-bg);
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
}




/*HEADING*/
.channel-name{
	font-family: 'ambidexter';
	font-size: 16vw;
	text-align: center;
  display: flex;
  width: 100%;
  margin-top: 1rem;
}


/*FILTERS BUTTONS*/
.filter-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  background-color: transparent;
  position:relative;
  padding: 1vh 1vh;
  
  flex-direction: column;
  justify-content: space-evenly;
  left: 0;
  right: 0;
  padding-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.filter-button {
  padding: 16px;
  display: flex;
  margin-top: 15px;
  color: var(--accent-type);
  border-radius: 3rem;
  border: 3.5px dashed var(--accent-1);
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.filter-button:active{
  background-color: var(--accent-1);
  color: var(--accent-2);
}

.filter-button:hover{
  color: var(--accent-type);
  border: 3.5px dashed var(--accent-1);
  background-color: var(--accent-2);
  transition: all 0.3s ease;
}


.tab-content .tab-pane {
  display: none;
}

.tab-content .active {
  display: block;
}


.filter-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media only screen and (max-width: 768px) {
  .filter-buttons {
    grid-template-columns: repeat(1, 1fr);
  }
}


/*CONTENT*/
ul {
 --columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--columns),1fr);
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  width: 100%;
  padding: 10px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3.5px dashed var(--accent-1);
  border-radius: 1.5rem;
}

.content-block{
  margin: 0.5rem;
}

@media screen and (min-width: 500px) {
  ul{
    --columns: 3;
    align-items: start;
  }
}

.channel-count{
  font-weight: 700;
  color: var(--accent-2);
  padding-top: 1rem;
  
}


/* a { color: white; }
em { font-style: italic; }
strong { font-weight: bold; }

body
section,
ul,
figure {
	color: #FFFFFF ;
	display: grid;
	gap: 2em;
}
 */
